<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5%;
        background-color: black;
        color: white;
        text-align: center;
        font-weight: bold;
    }

    .footer h3{
        color:white;
        font-weight: bold;  }
    .center_div{
        margin: 0 auto;
        width:65% ;
        text-align: center;
        align-items: center;
    }
    .topnav-centered h3 {
        float: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #dddddd;
    }
    .leftform{
        left:20%;
    }
</style>
<body>
<script>
    function myFunction() {
        alert("The order has been added with successfull!");
    }
</script>
<nav class="navbar navbar-inverse">
    <div class="topnav-centered">
        <h3>Order info</h3>
    </div>

</nav>
<form th:object="${order}" th:action="@{/order/}" method="post" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}"/>
    <div class="container-fluid">
        <div class="panel panel-primary center_div">
            <div class="alert alert-danger" role="alert">
                Please fill in the following fields!
            </div>
            <div class="panel-body center_div">
                <div class="row center_div">
                    <div class="col-md-3 form-group center_div leftform">
                        <label th:for="customer" >Customer:</label>
                        <select th:name="customer" th:id="customer"

                        >
                            <option th:each="customer: ${customers}"
                                    th:value="${customer.id}"><label  th:text="${customer.firstName}"></label>-<label  th:text="${customer.lastName}"> </label>
                            </option>
                        </select>
                    </div>

                </div>
                <div class="row center_div">
                    <div class="col-md-3 form-group center_div leftform">
                        <label th:for="employee" >Employe:</label>
                        <select th:name="employee" th:id="employee"

                        >
                            <option th:each="employee: ${employee}"
                                    th:value="${employee.id}"><label  th:text="${employee.firstName}"></label>-<label  th:text="${employee.lastName}"> </label>
                            </option>
                        </select>
                    </div>

                </div>


                <div class="row center_div">
                    <div class="col-md-3 form-group center_div leftform">
                        <label>Date of order:</label>
                        <input type="date" class="form-control center_div" th:field="*{date}"/>
                    </div>

                </div>

                <div class="row center_div">
                    <div class="col-md-3 form-group center_div leftform">
                        <label>Observation:</label>
                        <input type="text" class="form-control center_div" th:field="*{observation}"/>
                    </div>

                </div>

                <div class="row center_div">
                    <div class="col-md-3 form-group center_div leftform">
                        <label>State:</label>
                        <input type="text" class="form-control center_div" th:field="*{state}"/>
                    </div>

                </div>



                <div class = "row center_div">
                    <div class="col-md-3 center_div leftform ">
                        <label th:for="products">Select the products you want to order:</label>
                        <ul id ="products"  style="list-style: none;">
                            <li th:each="products: ${productAll}" >
                                <input type="checkbox"
                                       th:field="*{prods}"

                                       th:value="${products.id}" />
                                <label
                                        th:for="${#ids.prev('prods')}"
                                        th:text="${products.name}">

                                </label>
                                <label  th:text="${products.price}"> </label><label>$</label>
                            </li>
                        </ul>
                    </div>
                </div>







                <div class="row center_div">

                    <div class="col-md-7 ml-md-auto center_div leftform">
                        <button type="submit" class="btn btn-primary" onclick="myFunction()" >Save</button>
                    </div>
                </div>

            </div>
        </div>


    </div>
</form>
<div class="footer">
    <h3>Managing Store @AWBD2021</h3>
</div>
</body>
</html>